@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

/* TOP MARQUEE START */
#main_marquee {
   width: 100%;
   height: 35px;
   line-height: 35px;
   background-color: #b59143;
   color: #141414;
   font-weight: 400;
   font-size: 13px;
   word-spacing: 3px;
}
#main_marquee span{
   font-weight: 600;
}

/* TOP MARQUEE END */

/* HEADER START */
#header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 8px 20px 5px 20px;
   height: 80px;
   background: #fff;
}

.start {
   padding-bottom: 22px;
}
.start a {
   text-decoration: none;
   color:  #000000b6;
   transition: 0.3s ease;
   border-bottom: 1px solid #000000b6;
}
.start a i{
   font-size: 25px;
   color:  #000000b6;
   padding-right: 10px;
}
.center {
   padding-top: 15px;
   text-align: center;
   padding-left: 30px;
}
.end {
   padding-bottom: 32px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.end .search {
   padding: 0 25px 0 0;
}

.end .search input {
   border: none;
   outline: none;
   border-bottom: 1px solid #605f5f38;
   width: 110px;
   color: gray;
}
.end .search a i{
   font-size: 22px;
   font-weight: 600;
   transition: 0.3s ease;
   color: #000000d6;
}
.end .search a i:hover {
   color: #c7a55d;
}

.end .links a {
   text-decoration: none;
   color:  #000000d6;
   font-size: 22px;
   padding-right: 5px;
   transition: 0.3s ease;
   font-weight: 900;
}
.end .links a i{
   font-size: 28px;
   font-weight: 900;
}
.end .links a:hover {
   color: #c7a55d;
}

/* HEADER END */

/* NAVBAR START */
#navbar {
   position: sticky;
   height: 55px;
   line-height: 45px;
   background-color: #fff;
   padding-left: 25px;
   border-bottom: 1px solid rgba(192, 192, 192, 0.193);
}

#navbar nav ul {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 5px 125px 0 125px;
}

#navbar nav ul li {
   list-style: none;
   padding: 0 4px 0 4px ;
}

#navbar nav ul li a {
   font-size: 15px;
   font-weight: 400;
   position: relative;
   text-decoration: none;
   color: rgba(25, 25, 25, 0.816);
   transition: 0.3s ease;
}
#navbar nav ul li a:hover,
#navbar nav ul li a.active{
   color: #000000;
}
#navbar nav ul li a.active::after,
#navbar nav ul li a:hover::after{
   content: "";
   position: absolute;
   background-color: #000000;
   height: 1px;
   width: 0;
   left: 0;
   bottom: -4.2px;
   transition: 0.5s ease;
   border-radius: 25px;
}
#navbar nav ul li a.active::after,
#navbar nav ul li a:hover::after{
   width: 100%;
}
/* NAVBAR END */

/* LOGIN FORM START */
#login_form{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   padding: 70px 70px 120px 70px;
}
#login_form .desc{
   padding-bottom: 130px;
}
.desc h1{
   font-size: 36px;
   color: #5d5d5d;
   padding-bottom: 10px;
}
.desc p{
   color: rgb(137, 137, 137);
   font-size: 16px;
}
.login{
   box-shadow: 10px 10px 10px rgba(227, 227, 227, 0.8);
   background-color: rgb(244, 244, 244);
   height: 380px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   padding: 20px;
   border-radius: 10px;
}
.login .main_login{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   padding-bottom: 19px;
   border-bottom: 1px solid rgb(191, 191, 191);
}
.login .main_login h1{
   font-size: 28px;
   color: #c7a55d;
}
.login .main_login input{
   border: none;
   outline: none;
   border: 1px solid rgb(149, 149, 149);
   padding: 14px 180px 14px 10px;
   margin-bottom: 14px;
   border-radius: 8px;
   transition: 0.5s ease;
}
.login .main_login input:hover{
   border: 1px solid #c7a55d;
}
.login .main_login button{
   text-align: center;
   background-color: #c7a55d;
   border: none;
   outline: none;
   border: 1px solid #c7a55d;
   color: #fff;
   padding: 10px 155px 10px 155px;
   border-radius: 8px;
   font-size: 17px;
   margin-bottom: 14px;
   transition: 0.5s ease;
}
.login .main_login button:hover{
   color: black;
}
.login .main_login a{
   font-size: 14px;
   text-decoration: none;
   color: black;
}
.new_account button{
   text-align: center;
   background-color: #c7a55d;
   border: none;
   outline: none;
   border: 1px solid #c7a55d;
   color: #fff;
   padding: 12px 20px 12px 20px;
   border-radius: 8px;
   font-size: 14px;
   transition: 0.5s;
}
.new_account button:hover{
   color: black;
}
/* LOGIN FORM END */

/* FOOTER START */   
#main-footer{
   height: 400px;
   background-color: #000000;
}
footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   background-color: #000000;
   height: 360px;
   padding: 0 30px 360px 20px;
}
footer .logo{
   padding-bottom: 100px;
}
.main-links{
   padding-top: 80px;
   padding-right: 25px;
}
.main-links h3{
   color: #c7a55d;
   font-size: 16px;
   padding-bottom: 29px;
   padding-left: 27px;
}
.links ul{
   list-style: none;
}
.links ul li{
   padding-bottom: 8px;
}
.links ul li a{
   text-decoration: none;
   color:#fff;
   font-size: 13px;
   transition: 0.5s ease;

}
.links ul li a:hover{
   padding-left: 6px;
   color: #ab8025;
}
.main-contact h3{
   color: #c7a55d;
   font-size: 16px;
   padding-bottom: 26px;
   padding-top: 7px;
}
.contact a{
   text-decoration: none;
}
.contact a p{
   font-size: 12px;
   color: #fff;
}
.contact a p span{
   color: #c7a55d;
}
.contact-icons-links a{
   text-decoration: none;
   color: #fff;
}
.contact-icons-links a i{
   padding-right: 28px;
   padding-top: 15px;
   font-size: 20px;
   transition: 0.5s ease;
}
.contact-icons-links a i:hover{
   color: #c7a55d;
}
.main-info{
   padding-right: 50px;
}
.main-info h3{
   color: #c7a55d;
   font-size: 16px;
   padding-bottom: 32px;
}
.main-info p{
   font-size: 12px;
   color: #fff;
   padding-bottom: 5px;
}
.referance p{
   font-size: 12px;
   text-align: center;
   border-top: 1px solid #898989;
   color:  #898989;
   margin: 0px 55px 15px 55px;
   padding-top: 15px;
   padding-bottom: 6px;
}
/* FOOTER END */