@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

/* TOP MARQUEE START */
#main_marquee {
   width: 100%;
   height: 35px;
   line-height: 35px;
   background-color: #b59143;
   color: #141414;
   font-weight: 400;
   font-size: 13px;
   word-spacing: 3px;
}
#main_marquee span{
   font-weight: 600;
}

/* TOP MARQUEE END */

/* HEADER START */
#header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 8px 20px 5px 20px;
   height: 80px;
   background: #fff;
}

.start {
   padding-bottom: 22px;
}
.start a {
   text-decoration: none;
   color:  #000000b6;
   transition: 0.3s ease;
   border-bottom: 1px solid #000000b6;
}
.start a i{
   font-size: 25px;
   color:  #000000b6;
   padding-right: 10px;
}
.center {
   padding-top: 15px;
   text-align: center;
   padding-left: 30px;
}
.end {
   padding-bottom: 32px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.end .search {
   padding: 0 25px 0 0;
}

.end .search input {
   border: none;
   outline: none;
   border-bottom: 1px solid #605f5f38;
   width: 110px;
   color: gray;
}
.end .search a i{
   font-size: 22px;
   font-weight: 600;
   transition: 0.3s ease;
   color: #000000d6;
}
.end .search a i:hover {
   color: #c7a55d;
}

.end .links a {
   text-decoration: none;
   color:  #000000d6;
   font-size: 22px;
   padding-right: 5px;
   transition: 0.3s ease;
   font-weight: 900;
}
.end .links a i{
   font-size: 28px;
   font-weight: 900;
}
.end .links a:hover {
   color: #c7a55d;
}

/* HEADER END */

/* NAVBAR START */
#navbar {
   position: sticky;
   height: 55px;
   line-height: 45px;
   background-color: #fff;
   padding-left: 25px;
   border-bottom: 1px solid rgba(192, 192, 192, 0.193);
}

#navbar nav ul {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 5px 100px 0 100px;
}

#navbar nav ul li {
   list-style: none;
   padding: 0 10px 0 10px ;
}
#navbar nav ul li a {
   font-size: 15px;
   font-weight: 400;
   position: relative;
   text-decoration: none;
   color: rgba(25, 25, 25, 0.816);
   transition: 0.3s ease;
}
#navbar nav ul li a:hover,
#navbar nav ul li a.active{
   color: #000000;
}
#navbar nav ul li a.active::after,
#navbar nav ul li a:hover::after{
   content: "";
   position: absolute;
   background-color: #000000;
   height: 1px;
   width: 0;
   left: 0;
   bottom: -4.2px;
   transition: 0.5s ease;
   border-radius: 25px;
}
#navbar nav ul li a.active::after,
#navbar nav ul li a:hover::after{
   width: 100%;
}
/* NAVBAR END */

/* TOP SCROLL START */
#scroll_top{
   position: fixed;
   bottom: 90px;
   right: 25px;
}
.scroll{
   border: 1px solid #c7a55d;
   border-radius: 6px;
   padding: 6px 12px;
   background: #c7a55d;
   transition: 0.5s;
}
.scroll i{
   color: #fff;
   text-align: center;
   font-size: 24px;
   transition: 0.5s;
}
/* TOP SCROLL END */

/* TOP SCROLL 2 START */
#scroll_top_2{
   position: fixed;
   bottom: 25px;
   right: 15px;
}
.scroll_2{
   border: 1px solid #d4ed2c;
   border-radius: 50px;
   padding: 10px 22px;
   background: #d4ed2c;
   transition: 0.5s;
}
.scroll_2 a{
   text-decoration: none;
   color: #2a2a2ab1;
   font-size: 15px;
   font-weight: 600;
}
.scroll_2 i{
   color: #2a2a2ab1;
   text-align: center;
   font-size: 18px;
   transition: 0.5s;
   font-weight: 900;
}
/* TOP SCROLL 2 END */

/* ---USER BAG START--- */
#cart{
   padding: 30px 100px 20px 100px;
   overflow: auto;
}

#cart table{
   width: 100%;
   border-collapse: collapse;
   table-layout: fixed;
   white-space: nowrap;
}

#cart table img{
   width: 40px;
   height: 50px;
}

#cart table td:nth-child(1){
   width: 100px;
   text-align: center;
}

#cart table td:nth-child(2){
   width: 150px;
   text-align: center;
}

#cart table td:nth-child(3){
   width: 250%;
   text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
   width: 150px;
   text-align: center;
}

#cart table td:nth-child(5) input{
   width: 70px;
   padding: 10px 5px 10px 15px;
}

#cart table thead {
   border: 1px solid #d3d3d3;
   border-left: none;
   border-right: none;
}

#cart table thead td {
   font-weight: 700;
   text-transform: uppercase;
   font-size: 13px;
   padding: 18px 0;

}

#cart table tbody  tr td {
   padding-top: 15px;

}

#cart table tbody  td {
   font-size: 13px;
}

#cart-add {
   padding: 40px 130px 10px 130px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

#coupon {
   width: 50%;
   padding-top: 30px;
}


#coupon h3,
#subtotal h3{
   font-size: 20px;
   padding-bottom: 15px;
   
}

#coupon input{
   padding: 10px 20px;
   outline: none;
   width: 60%;
   margin-right: 0.2px;
   border: 1px solid #e2e9e1;
}

#coupon button,#subtotal button{
   padding: 9.5px 20px;
   outline: none;
   border: none;
   border: 1px solid #c7a55d;
   background-color: #c7a55d;
   color: #fff;
   transition: 0.5s ease;
}
#coupon button:hover,#subtotal button:hover{
   color: #000000;
}
#subtotal {
   width: 50%;
   margin-bottom: 30px;
   border: 1px solid #e2e9e1;
   padding: 25px;
}

#subtotal table{
   border-collapse: collapse;
   width: 100%;
   margin-bottom: 20px;
}

#subtotal table td {
   width: 50%;
   border: 1px solid #e2e9e1;
   padding: 10px;
   font-size: 13px;

}
/* ---USER BAG END--- */

/* FOOTER START */   
#main-footer{
   height: 400px;
   background-color: #000000;
}
footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   background-color: #000000;
   height: 360px;
   padding: 0 30px 360px 20px;
}
footer .logo{
   padding-bottom: 100px;
}
.main-links{
   padding-top: 80px;
   padding-right: 25px;
}
.main-links h3{
   color: #c7a55d;
   font-size: 16px;
   padding-bottom: 29px;
   padding-left: 27px;
}
.links ul{
   list-style: none;
}
.links ul li{
   padding-bottom: 8px;
}
.links ul li a{
   text-decoration: none;
   color:#fff;
   font-size: 13px;
   transition: 0.5s ease;

}
.links ul li a:hover{
   padding-left: 6px;
   color: #ab8025;
}
.main-contact h3{
   color: #c7a55d;
   font-size: 16px;
   padding-bottom: 26px;
   padding-top: 7px;
}
.contact a{
   text-decoration: none;
}
.contact a p{
   font-size: 12px;
   color: #fff;
}
.contact a p span{
   color: #c7a55d;
}
.contact-icons-links a{
   text-decoration: none;
   color: #fff;
}
.contact-icons-links a i{
   padding-right: 28px;
   padding-top: 15px;
   font-size: 20px;
   transition: 0.5s ease;
}
.contact-icons-links a i:hover{
   color: #c7a55d;
}
.main-info{
   padding-right: 50px;
}
.main-info h3{
   color: #c7a55d;
   font-size: 16px;
   padding-bottom: 32px;
}
.main-info p{
   font-size: 12px;
   color: #fff;
   padding-bottom: 5px;
}
.referance p{
   font-size: 12px;
   color: #898989;
   text-align: center;
   border-top: 1px solid #898989;
   margin: 0px 55px 15px 55px;
   padding-top: 15px;
   padding-bottom: 6px;
}
/* FOOTER END */